In [4]:
from pyspark.sql import SparkSession
 
spark = SparkSession.builder \
        .appName("Vinh-Le") \
        .config("fs.s3a.access.key", "AKIA6GBMDXCNWXUHCSHC") \
        .config("fs.s3a.secret.key", "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") \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config('spark.hadoop.fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider') \
        .config('spark.jars.packages', 'org.apache.hadoop:hadoop-aws:3.3.4') \
        .config("fs.s3a.endpoint", "s3.ap-southeast-2.amazonaws.com") \
        .getOrCreate()

spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
spark.conf.set("hive.exec.dynamic.partition", "dynamic")
spark.conf.set("hive.exec.dynamic.partition.mode", "nonstrict")
spark.conf.set("spark.sql.broadcastTimeout", 1500)
sc = spark.sparkContext
sc.setSystemProperty("com.amazonaws.services.s3.enableV4", "true")

df = spark.read.csv("s3a://thuancaodemo/") 
df.show(20)

+----+--------+----------+-----------+-------------+--------------+-----------+--------------+--------------+
| _c0|     _c1|       _c2|        _c3|          _c4|           _c5|        _c6|           _c7|           _c8|
+----+--------+----------+-----------+-------------+--------------+-----------+--------------+--------------+
|step|    type|    amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|
| 548|CASH_OUT| 106242.29|C1517752293|      51884.0|           0.0| C258855812|           0.0|     106242.29|
| 548| PAYMENT|   9471.74| C439368911|      19959.0|      10487.26|M2073331563|           0.0|           0.0|
| 548| CASH_IN|   18291.0| C598681481|       4070.0|       22361.0|C1966122756|     262516.52|     244225.52|
| 548| PAYMENT|   4714.82|C1095048254|       1061.0|           0.0|M1510508189|           0.0|           0.0|
| 548| PAYMENT|   6268.64|  C91811176|       9724.0|       3455.36|M1597051169|           0.0|           0.0|
| 548| PAYMENT|    6681.8| C922501653|      3455.36|           0.0| M677250617|           0.0|           0.0|
| 548| CASH_IN| 105285.79|C1787805175|        211.0|     105496.79| C207753215|     933483.32|     828197.53|
| 548|CASH_OUT| 107130.77|C1029702046|     103183.0|           0.0|C1388475526|           0.0|     107130.77|
| 548|TRANSFER|  90390.79|C1775767757|     565092.0|     474701.21| C545973481|      150889.9|     241280.69|
| 548| PAYMENT|  21961.74| C829402113|    474701.21|     452739.47| M647548894|           0.0|           0.0|
| 548| PAYMENT|   7943.03| C457786978|      22003.0|      14059.97| M842949566|           0.0|           0.0|
| 548|TRANSFER| 171567.23|C2122174044|      72461.0|           0.0| C674027681|           0.0|     171567.23|
| 548|TRANSFER| 408847.37| C519772274|      51814.0|           0.0|C2097735239|           0.0|     408847.37|
| 548|CASH_OUT| 161513.13|C1339045785|          0.0|           0.0| C514797995|     292674.33|     454187.46|
| 548| CASH_IN| 144015.17| C238194254|      10253.0|     154268.17|C2092923466|     334306.11|     190290.94|
| 548| CASH_IN|  47222.71| C514703098|      63753.0|     110975.71| C339789812|           0.0|           0.0|
| 548|TRANSFER|1264020.98|C1481838037|    110975.71|           0.0|C1216639122|    2523933.06|    3787954.04|
| 548|TRANSFER|1564286.88| C384927161|          0.0|           0.0|C1059886384|    1815964.89|    3380251.77|
| 548|TRANSFER| 657311.67| C212548055|          0.0|           0.0|C1513429369|     866282.02|    1523593.68|
+----+--------+----------+-----------+-------------+--------------+-----------+--------------+--------------+
only showing top 20 rows

In [2]:
spark.stop()

In [5]:
df = spark.read.csv("s3a://thuancaodemo/") 
df.show(20)

+----+--------+----------+-----------+-------------+--------------+-----------+--------------+--------------+
| _c0|     _c1|       _c2|        _c3|          _c4|           _c5|        _c6|           _c7|           _c8|
+----+--------+----------+-----------+-------------+--------------+-----------+--------------+--------------+
|step|    type|    amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|
| 156| PAYMENT|   14823.9|  C31340069|      42063.0|       27239.1| M487839425|           0.0|           0.0|
| 156| CASH_IN| 109382.34|C1162030053|     108130.0|     217512.34|C1486550428|      15924.46|           0.0|
| 156|TRANSFER| 992890.79| C314250077|    217512.34|           0.0| C207883608|    1871175.22|    2864066.01|
| 156|TRANSFER|1278082.99|C1646551089|          0.0|           0.0| C138707774|    1634841.09|    2912924.08|
| 156|TRANSFER|  888401.7|C1627522922|          0.0|           0.0| C107671770|     4332336.0|     5220737.7|
| 156|TRANSFER|1610485.95|C1027740844|          0.0|           0.0| C997061881|     2004564.6|    3615050.55|
| 156|TRANSFER|1028355.46|C2007615906|          0.0|           0.0|C1614334616|    1139724.42|    2168079.88|
| 156| CASH_IN| 418495.32| C911022734|      16914.0|     435409.32| C605008933|    5100024.89|    4681529.57|
| 156| PAYMENT|   5895.54|C1191539322|      15729.0|       9833.46|M1792010562|           0.0|           0.0|
| 156|CASH_OUT| 157931.68|C1402132832|      9833.46|           0.0| C313816380|    1800223.43|    1958155.11|
| 156|CASH_OUT|  63274.05| C223686902|     152811.0|      89536.95| C138524238|     797535.02|     860809.07|
| 156| CASH_IN|  45553.72|C1638864260|     132860.0|     178413.72|C1867185901|           0.0|           0.0|
| 156|TRANSFER| 797546.16|C1950315786|      69609.0|           0.0|C1708145194|     120096.44|     917642.59|
| 156| CASH_IN|  19057.39| C824437556|     193887.0|     212944.39|C2017725630|     692645.48|     673588.09|
| 156|CASH_OUT| 127503.18| C366325606|      19975.0|           0.0|C1817285052|           0.0|     106140.39|
| 156| CASH_IN|  118811.2| C206539629|     107538.0|      226349.2|C1412998886|    3340335.14|    3221523.95|
| 156| PAYMENT|  10093.07|  C64436427|      26521.0|      16427.93| M755173838|           0.0|           0.0|
| 156| PAYMENT|    892.24| C362098071|     105905.0|     105012.76|M1710344363|           0.0|           0.0|
| 156| PAYMENT|  13920.15|C1599776190|      31365.0|      17444.85|M1789041378|           0.0|           0.0|
+----+--------+----------+-----------+-------------+--------------+-----------+--------------+--------------+
only showing top 20 rows

In [6]:
part = spark.read.csv(
    './data/paysim/part-00000-f515e12d-25e5-402a-b722-d0f1c8d3bda7-c000.csv',
    header = True,
    inferSchema = True
)

In [7]:
dataSchema = part.schema

In [8]:
dataSchema

StructType([StructField('step', IntegerType(), True), StructField('type', StringType(), True), StructField('amount', DoubleType(), True), StructField('nameOrig', StringType(), True), StructField('oldbalanceOrg', DoubleType(), True), StructField('newbalanceOrig', DoubleType(), True), StructField('nameDest', StringType(), True), StructField('oldbalanceDest', DoubleType(), True), StructField('newbalanceDest', DoubleType(), True)])

In [9]:
streaming = (
    spark.readStream.schema(dataSchema)
    .option("maxFilesPerTrigger", 1)
    .csv("s3a://thuancaodemo/")
)

In [10]:
# dest_count = streaming.groupBy('nameDest').count().orderBy(F.desc("count"))
dest_count = streaming.groupBy('nameDest').count()

In [11]:
activityQuery = (
    dest_count.writeStream.queryName("dest_counts")
    .format("console")
    .outputMode("update")
    .start()
)

# activityQuery.awaitTermination()

24/05/29 04:03:50 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-9d4e0844-94a5-4f5b-b08d-810d32ddddb2. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
24/05/29 04:03:50 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

-------------------------------------------
Batch: 0
-------------------------------------------
+-----------+-----+
|   nameDest|count|
+-----------+-----+
| C858376760|    1|
|M1981088686|    1|
| M323673177|    1|
|C1418747459|    1|
| M934248555|    1|
|M1773546894|    1|
| M823054659|    1|
| M168491037|    1|
| C758326792|    1|
|C1587770904|    1|
|M1680878786|    1|
|C1666572538|    1|
| M526375342|    1|
|M1776748180|    1|
|M1596757428|    1|
| M220826050|    1|
|M1526953153|    1|
|C1743196479|    1|
|C1853990446|    1|
| M260633171|    1|
+-----------+-----+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+-----------+-----+
|   nameDest|count|
+-----------+-----+
|M1642391441|    1|
|C1457522188|    1|
| C910112681|    1|
|M1218745950|    1|
| C721115370|    1|
| C786512193|    2|
| M713067069|    1|
|C1647152236|    2|
|C1300598982|    1|
|M1203970824|    1|
|M1402464107|    1|
| C866704200|    1|
|M1693297901|    1|
|C1466697191|    3|
|C1412624210|    1|
| C535412111|    1|
|M1916811047|    1|
|M1030277414|    1|
|C1371162684|    2|
|  C14533095|    1|
+-----------+-----+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+-----------+-----+
|   nameDest|count|
+-----------+-----+
|C1253405980|    1|
|C2016806245|    1|
|C1225791278|    1|
| C498618435|    1|
| C209868118|    1|
|C1015137341|    1|
|C1343134099|    1|
| C574444599|    1|
|C1096030644|    2|
|C1954217280|    1|
|C1347105871|    2|
| C416664710|    1|
|   nameDest|    3|
+-----------+-----+

In [12]:
spark.streams.active[0].isActive

True

In [13]:
activityQuery.status

{'message': 'Getting offsets from FileStreamSource[s3a://thuancaodemo/]',
 'isDataAvailable': False,
 'isTriggerActive': True}

In [14]:
activityQuery.stop()